body,
.container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
}